# Firebase Realtime Database Configuration for JPC FTU
VITE_FIREBASE_API_KEY=AIzaSyAnoNpj-O2nJD3SNXKbqKHBFna8CZTOxiM
VITE_FIREBASE_AUTH_DOMAIN=jpc-ftu.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://jpc-ftu-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=jpc-ftu
VITE_FIREBASE_STORAGE_BUCKET=jpc-ftu.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=819335645572
VITE_FIREBASE_APP_ID=1:819335645572:web:c471bf312efd712334b5d1
VITE_FIREBASE_MEASUREMENT_ID=G-EY6RXY56Z9
